@using BlogSystem.Dto
@model List<TopArticleDto>


@foreach (var item in Model)
{
    <div class="col-md-6">
        <div class="card card-overlay-bottom card-grid-sm card-bg-scale" style="background-image: url(Images/AdobeStock_272072948.jpeg); background-position: center left; background-size: cover;">
            <img class="rounded img-fluid" src="@item.picPath"/>
            <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                <div class="w-100 mt-auto">
                    <a href="#" class="badge text-bg-warning mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>@(item.CategoryName == 0 ? "Non-technical" : "Technical")</a>
                    <h4 class="text-white " ><a href="post-single-4.html" class="btn-link stretched-link text-reset d-inline-block text-truncate" style="max-width: 100%; ">@item.Title</a></h4>

                    <ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block fw-bold">
                        <li class="nav-item position-relative">
                            <div class="nav-link">
                                by <a href="#" class="stretched-link text-reset btn-link">@item.NickName</a>
                            </div>
                        </li>
                        <li class="nav-item">@item.CreateDate</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}


                   