
@using Webdiyer.WebControls.Mvc
@using BlogSystem.Dto
@model PagedList<ArticleDto>

@{
    var items = Model.ToList();
}
@if (!items.Any())
{
    <div class="d-flex justify-content-center">
        <h4 class="text-center">..nothing found..</h4>
    </div>
}
else
{

        foreach (var item in items)
        {
            <div class="card bg-transparent border-0">
                <div class="row g-3" >
                    <div class="col-4 " style="width: 405px; height: 270px; overflow:hidden">
                        <img class="rounded " src="@item.ImagePath" alt="" style=" width: 100%; height: 100%;">
                    </div>
                    <div class="col-8">
                        <a href="#" class="badge bg-danger bg-opacity-10 text-danger mb-2 fw-bold">
                            @(item.CategoryNames == 0 ? "Non-technical" : "Technical")
                        </a>

                        <h5><a href="@Url.Action("ArticleDetail","Article", new {id = item.Id})" class="btn-link stretched-link text-reset fw-bold">@item.Title</a></h5>
                        <div style="font-size: 0.875rem; line-height: 1.5; max-height: 4.5rem; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;">
                            <p class="mb-2">@Html.Raw(item.Content)</p>
                        </div>

                        <div class="position-absolute bottom-0 end-0 ">
                            <a href="###" class="text-secondary btn-link text-decoration-none me-3 ">by @item.NickName</a>
                            <a class="small text-secondary" href="#!"> <i class="bi bi-calendar-date pe-1"></i>@item.CreateTime</a>
                        </div>

                    </div>
                </div>
            </div>

            <hr class="my-4" />
        }
}






<nav aria-label="Page navigation example">
    @Html.Pager(Model, new PagerOptions
    {
        PageIndexParameterName = "pageindex",
        ContainerTagName = "ul",
        CssClass = "pagination",
        CurrentPagerItemTemplate = "<li class =\"page-item\" \"active\"><a class =\"page-link\" href = \"#\">{0}</a></li>",
        DisabledPagerItemTemplate = "<li class =\"page-item\" \"disable\"><a class =\"page-link\">{0}</a></li>",
        PagerItemTemplate = "<li class =\"page-link\">{0}</li>",
        Id = "bootstrappager"
    })
</nav>
<style>
    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 3px
    }
</style>

<hr />
<br />


